---
import type { Props } from '@astrojs/starlight/props';

const { labels, lang, lastUpdated } = Astro.props;
---


<h1 id='_top'>{Astro.props.entry.data.title}</h1>
{
    lastUpdated && (
    <p>
        <time>
            {lastUpdated.toISOString()
                .replace(/T|Z/g, ' ')
                .slice(0, 16)
                .replace(/-/g, '.')
            }
        </time>
    </p>
    )
}

<style>
    h1 {
        margin-top: 1rem;
        font-size: var(--sl-text-h1);
        line-height: var(--sl-line-height-headings);
        font-weight: 600;
        color: var(--sl-color-white);
    }
</style>