@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Pretendard Variable', 'Noto Sans KR', sans-serif;
        font-size: 16px;
        color: #1d1d1f;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}